---
name: Release

concurrency:
  group: '${{ github.workflow }} @ ${{ github.sha }}'
  cancel-in-progress: true

on:
  pull_request_target:
    types:
      - closed
    branches:
      - stable-*

jobs:
  tag:
    uses: abikouo/github_actions/.github/workflows/release-tag.yml@release_20230629_1
    secrets:
      gh_token: ${{ secrets.GH_TOKEN }}